<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if title %}
    <title>PIM - {{ title }}</title>
    {% else %}
    <title>PIM</title>
    {% endif %}
  </head>
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>