<!DOCTYPE html>
<html>
    <head>
        <title>PIM - Jobs</title>
        <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1><b>{{ run_id }}</b> jobs</h1>

        <table class="table table-striped">
            <tr>
                <th>Job ID</th>
                <th>Sample ID</th>
                <th>Status</th>
                <th>Node ID</th>
                <th>Run ID</th>
            </tr>

            {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.sample_id }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.node_id }}</td>
                <td>{{ job.run_id }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>