<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>PIM - {{run_id}}</title>

    <!-- Load external libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename="js/external/d3.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/external/klay.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/external/klayjs-d3.js") }}"></script>

    <!-- Load PIM libraries -->
    <script type="text/javascript" src="{{ url_for('static', filename="js/pim/node.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/pim/progress.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/pim/group.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="js/pim/leaf.js") }}"></script>

    <!-- Load stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/pim.css") }}"/>

  <style>
  </style>
</head>
<body>
    <div class="container">
        <div id="pim" run_id={{run_id}} direction="right">
            <script type="text/javascript" src="{{ url_for('static', filename="js/pim/pim.js") }}"></script>
        </div>
    </div>
</body>