<!DOCTYPE html>
<html>
    <head>
        <title>PIM - Runs</title>
        <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <script>

            function remove_run(href) {
                var run_id = href.getAttribute("run_id");

                console.log("Removing " + run_id);

                var xhttp = new XMLHttpRequest();

                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log("Removed " + run_id);
                    }
                };

                xhttp.open("DELETE", "api/runs/" + run_id, true);
                xhttp.send();

                window.location = "runs";
            }

        </script>

        <h1>Manage pipeline runs</h1>

        <table class="table table-striped">
            <tr>
                <th>Run ID</th>
                <th>Graph</th>
                <th>Network</th>
                <th>Jobs</th>
                <th>Remove Run</th>
            </tr>
            {% for run_id in run_ids %}
            <tr>
               <td>{{ run_id }}</td>
                <td><a href="/run/{{ run_id }}">View</a></td>
                <td><a href="api/runs/{{ run_id }}">JSON</a></td>
                <td><a href="/jobs/{{ run_id }}">View</a></td>
                <td><a href="#" onclick="remove_run(this);" run_id={{ run_id }}>Remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>