
@-webkit-keyframes blinker {
    0% { fill: #9B4233; }
    50% { fill: #e82216; }
    100% { fill: #9b4233; }
}

.idle {
    fill: #5f96de;
}

.running {
    fill: #dcd25f;
}

.success {
    fill: #1fbd6c;
}

.failed {
    fill: #e84c3d;
    /*-webkit-animation-name: blinker;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-duration: 1.0s;*/
}

.scheduled {
    fill: #7a90a5;
    opacity:0;
}

.icon-home:before {
  content: "\e900";
}

.header {
    font-size: 12px;
    font-family: Arial;
    alignment-baseline: middle;
}

.leaf > .header {
    font-size: 10px;
    fill: rgb(90, 0, 0);
    font-family: Arial;
}

.header .id {
    fill: #212532;
    font-weight: bold;
    alignment-baseline: middle;
}

.header .progress {
    fill: #434c5b;
    alignment-baseline: middle;
}

.leaf .background {
    fill: #e6e6e6;
    stroke: rgb(71, 68, 61);
    stroke-width: 0.6;
}

.group .background {
    fill: #5d6e7e;
    fill-opacity: 0.2;
    stroke: #5d6e7e;
    stroke-width: 0.5;
    stroke-opacity: 1;
    /*stroke-dasharray: 2, 2;*/
}



.legend {
    font-family: "Courier New";
    font-size: 6px;
    fill: #202835;
}

/*
.leaf .constant {
    fill: #e10a1d;
}

.leaf .source {
    fill: #e1e1e1;
}

.leaf .sink {
    fill: #e1e1e1;
}

.leaf .node {
    fill: #e1e1e1;
}
*/

/*5d6e7e*/
.background.level_0 {
    fill: #5d6e7e;
    fill-opacity: 0.2;
}

.background.level_1 {
    fill: #5d6e7e;
    fill-opacity: 0.2;
}

.background.level_2 {
    fill: #5d6e7e;
    fill-opacity: 0.2;
}

.port {
    stroke: #000;
    width: 1px;
    opacity: .6;
}

.link {
    stroke-width: 2px;
}

.lnr-arrow-down-circle {
  fill: #5d6e7e;
  font-size: 24px;
    opacity: 0.3;
    stroke-width: 20px;
  /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}